@using Microsoft.AspNetCore.Identity
@using NetCoreApp.Models
@using NetCoreApp.Extensions;

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a class="icon item pointer" data-toggle="popup" data-content="#user" data-position="bottom right">@User.GetSpecificClaim("FullName") &nbsp;&nbsp; <img src="@User.GetSpecificClaim("Avatar")" class="ui avatar image" alt="@User.GetSpecificClaim("FullName")"></a>
    <div id="user" class="ui popup">
        <div class="ui secondary vertical menu">
            <div class="header item">USER MENU</div>
            <a href="" class="item">Profile <i class="user icon"></i></a>
            <a href="" class="item">Groups <i class="users icon"></i></a>
            <a href="" class="item">Settings <i class="settings icon"></i></a>
            <div class="ui divider"></div>
            <form action="/Admin/Account/Logout" method="post" id="logoutForm">
                <button type="submit" class="item">Log out <i class="sign out icon"></i></button>
            </form>
        </div>
    </div>   
 }