<div class="modal fade" id="modalAddEdit" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="form-horizontal" role="form" id="frmAddEdit">
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Cập nhật kiểu dữ liệu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">                   
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Tên quyền :</label>
                        <div class="col-sm-10">
                            <input type="hidden" id="hidId" />
                            <input type="text" name="txtName" class="form-control" id="txtName" placeholder="Nhập tên quyền">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Mô tả quyền :</label>
                        <div class="col-sm-10">                           
                            <input type="text" name="txtDescription" class="form-control" id="txtDescription" placeholder="Nhập mô tả quyền">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                </div>
            </form>
        </div>
    </div>
</div>