@using Microsoft.AspNetCore.Authorization
@using NetCoreApp.Authorization
@inject IAuthorizationService AuthorizationService
@section Styles{
    <link rel="stylesheet" href="~/lib/treegrid/css/jquery.treegrid.min.css" />
}
@section ScriptsProduct{
    <script type="text/javascript" src="~/lib/twbs-pagination/jquery.twbsPagination.js"></script>
    <script type="text/javascript" src="~/app/controllers/roles/index.js"></script>
    <script type="text/javascript" src="~/lib/bootbox/bootbox.min.js"></script>
    <script type="text/javascript" src="~/lib/treegrid/js/jquery.treegrid.min.js"></script>
    <script>
        var role = new roleController();
        role.initialize();
    </script>
}<!-- Content Header (Page header) -->

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Danh mục</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Admin</a></li>
                    <li class="breadcrumb-item active">Danh sách roles</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                @if ((await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Create)).Succeeded)
                {
                    <a class="btn btn-primary btn-sm" href="#" id="lbtAddUser">
                        <i class="fas fa-plus-circle"></i>
                        Thêm mới
                    </a>
                }
            </div>
            <div class="card-tools col-md-7">
                <div class="row">
                    <div class="col-10">
                        <div class="input-group">
                            <input type="text" id="txtSearch" class="form-control form-control-sm" placeholder="Search...">
                            <div class="input-group-append">
                                <button class="btn btn-sidebar" id="btnSearch">
                                    <i class="fas fa-search fa-fw"></i>Tìm kiếm
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 text-right">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th>Tên quyền</th>
                        <th>Mô tả</th>
                        <th class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody id="tpl_content">
                </tbody>
            </table>
        </div>
        <div class="card-footer clearfix">
            <div class="card-title">
                <select class="ui dropdown small form-control" name="page" id="slChangPage">
                    <option value="10" selected="selected">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
            <ul class="pagination pagination-sm m-0 float-right" id="pagination">
            </ul>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
    @await Html.PartialAsync("_AddEditRole")
    @await Html.PartialAsync("_AssignPermission")
</section>
<!-- /.content -->

<script type="x-tmpl-mustache" id="mp_template">
        {{#rolesTag}}
        <tr>
            <td>{{name}}</td>
            <td>{{description}}</td>

            <td class="text-right">
                 @if ((await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Read)).Succeeded) {
                    <a class="btn btn-success btn-sm" href="#" id="lbtEditRole" title="Thiết lập quyền truy cập" data-id="{{id}}"> <i class="fa fa-address-card"></i> Role Limit </a>
                 }
                 @if ((await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Update)).Succeeded) {
                    <a class="btn btn-info btn-sm" href="#" id="lbtEdit" data-id="{{id}}"> <i class="fas fa-pencil-alt"> </i> Edit </a>
                }
                @if ((await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Delete)).Succeeded)
                {
                    <a class="btn btn-danger btn-sm" href="#" id="lbtDelete" data-id="{{id}}"> <i class="fas fa-trash"> </i> Delete </a>
                }
            </td>
        </tr>
        {{/rolesTag}}
</script>
