
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login Admin CMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="~/admin/assets/css/semantic.css">
    <link rel="stylesheet" type="text/css" href="~/admin/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/admin/assets/css/animate.css">
</head>
<body>
    <div class="ui container">
        <div class="ui centered stackable grid">
            <div class="six wide column">
                <div class="ui segments" align="center">
                    <div class="ui inverted blue padded segment">
                        <span class="ui header">Welcome in Admin CMS!</span>
                    </div>
                    <div class="ui segment">
                        <form class="ui form" action="/admin/login/authen" method="post">
                            @Html.AntiForgeryToken()
                            <div class="field">
                                <div class="ui left icon input">
                                    <input type="text" name="username" id="username" placeholder="Username">
                                    <i class="user icon"></i>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <input type="password" name="password" id="password" placeholder="Password">
                                    <i class="lock icon"></i>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui checkbox">
                                    <input type="checkbox" tabindex="0" class="hidden" name="remember" id="remember">
                                    <label>Remember Me</label>
                                </div>
                            </div>
                            <button class="ui big fluid blue icon button" type="submit">Sign In <i class="sign in icon"></i></button>
                        </form>
                    </div>
                    <div class="ui secondary segment">
                        <a href="">Forgot Password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/admin/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/admin/assets/js/semantic.min.js"></script>
    <script type="text/javascript" src="~/admin/assets/js/nicescroll.min.js"></script>
    <script type="text/javascript" src="~/admin/assets/js/main.js"></script>
    <script>
        $(document).ready(function () {
            $('body').css({ 'background-color': '#80b6e6', 'padding-top': '10%' });
        });
    </script>
    <script src="~/lib/notify.min.js"></script>
    <script src="~/app/shared/until.js"></script>
    <script src="~/app/controllers/login/index.js"></script>
    <script>
        var login = new loginController();
        login.initialize();
    </script>
</body>
</html>
