<div class="modal fade" id="modalAddEdit" data-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <form class="form-horizontal" id="frmMaintainance" name="frmMaintainance" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Lưu cập nhật sản phẩm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Tên sẩn phẩm</label>
                        <div class="col-sm-10">
                            <input type="hidden" id="hidId" value="0" />
                            <input type="text" name="txtName" class="form-control" id="txtName" placeholder="Nhập tên tour">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Danh mục</label>
                        <div class="col-sm-10">
                            <input type="hidden" id="hidCategoryId" value="0" />
                            <input type="text" id="ddlCategory" placeholder="Nhập từ khóa" autocomplete="off" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Ảnh đại diện</label>
                        <div class="col-sm-10">
                            <input type="hidden" name="hidImage" id="hidImage" />
                            <input type="file" name="attachment" id="fuImage" accept="image/png, image/jpg, image/jpeg, image/gif">
                            <div id="image-holder"></div>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Ảnh liên quan</label>
                        <div class="col-sm-10">
                            <input type="hidden" name="hidImage" id="hidImage" />
                            <input type="file" name="attachment" id="fuImageList" multiple accept="image/png, image/jpg, image/jpeg, image/gif">
                        </div>

                        <!-- /.list image -->
                        <div class="card-footer bg-white" id="list-image">

                        </div>
                        <!-- /.card-footer -->

                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">SEO Title</label>
                        <div class="col-sm-10">
                            <input type="text" name="txtSeoPageTitle" class="form-control" id="txtSeoPageTitle">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">URL SEO</label>
                        <div class="col-sm-10">
                            <input type="text" name="txtSeoAlias" class="form-control" id="txtSeoAlias">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">SEO Keyword</label>
                        <div class="col-sm-10">
                            <input type="text" name="txtSeoKeyword" class="form-control" id="txtSeoKeyword">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">SeoDescription</label>
                        <div class="col-sm-10">
                            <textarea rows="3" name="txtSeoDescription" class="form-control" id="txtSeoDescription"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Thứ tự</label>
                        <div class="col-sm-10">
                            <input type="number" name="txtOrder" class="form-control col-md-4" id="txtOrder" value="0">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Thứ tự trang chủ</label>
                        <div class="col-sm-10">
                            <input type="number" name="txtHomeOrder" class="form-control col-md-4" id="txtHomeOrder" value="0">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Giá:</label>
                        <div class="col-sm-10">
                            <input type="number" name="txtPrice" class="form-control col-md-4" id="txtPrice" value="0">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Giá khuyến mại:</label>
                        <div class="col-sm-10">
                            <input type="number" name="txtPromotionPrice" class="form-control col-md-4" id="txtPromotionPrice" value="0">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Giá gốc:</label>
                        <div class="col-sm-10">
                            <input type="number" name="txtOriginalPrice" class="form-control col-md-4" id="txtOriginalPrice" value="0">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Đơn vị tính</label>
                        <div class="col-sm-10">
                            <input type="text" name="txtUnit" class="form-control col-md-4" id="txtUnit">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label">Mô tả</label>
                        <div class="col-sm-12">
                            <textarea rows="3" name="txtDescription" class="form-control" id="txtDescription"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label">Chi tiết:</label>
                        <div class="col-sm-12">
                            <textarea rows="3" name="txtContent" class="form-control" id="txtContent"></textarea>
                        </div>
                    </div>   
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Tags</label>
                        <div class="col-sm-10">                            
                            <input type="text" name="txtTags" class="form-control" id="txtTags" data-role="tagsinput" placeholder="Nhập tags">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Ngày đăng</label>
                        <div class="col-sm-10">
                            <input type="text" name="txtCreateDate" class="form-control col-md-4" id="txtCreateDate">
                            <input type="hidden" name="hidCreateById" id="hidCreateById" />
                            <input type="hidden" name="hidEditById" id="hidEditById" />
                            <input type="hidden" name="hidViewCount" id="hidViewCount" value="0" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class=" offset-sm-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" checked="checked" id="ckStatus">
                                    <span class="text">Hiển thị.</span>
                                </label>
                                <label>
                                    <input type="checkbox" id="ckHomeFlag">
                                    <span class="text">Hiện trang chủ.</span>
                                </label>
                                <label>
                                    <input type="checkbox" id="ckHotFlag">
                                    <span class="text">Nổi bật.</span>
                                </label>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script id="images-template" type="x-tmpl-mustache">
    <ul class="list-group list-group-horizontal position-relative overflow-auto w-100">
     {{#imagesTag}}
    <li id="li-{{id}}">
        <span class="mailbox-attachment-icon has-img img-size-200"><img src="{{name}}" alt=""></span>
        <div class="mailbox-attachment-info">
        <span class="mailbox-attachment-size clearfix mt-1">
            <a href="#" data-id="{{id}}" id="btnDeleteImgDetail" class="mailbox-attachment-name"><i class="fas fa-trash"></i> Xóa</a>
        </span>
        </div>
    </li>
    {{/imagesTag}}
    </ul>
</script>