@model NetCoreApp.Application.ViewModels.Category.CategoryTypeViewModel
@section Styles{
    <link rel="stylesheet" href="~/admin/plugins/comboTree/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="~/admin/plugins/comboTree/comboTreePlugin.css" />
    <link rel="stylesheet" href="~/lib/datetimepicker/jquery.datetimepicker.min.css" />
    @*<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-tags/bootstrap-tagsinput.css" />*@
}
@section ScriptsProduct{
    <script type="text/javascript" src="~/admin/plugins/comboTree/comboTreePlugin.js"></script>
    <script type="text/javascript" src="~/lib/twbs-pagination/jquery.twbsPagination.js"></script>
    <script type="text/javascript" src="~/lib/datetimepicker/jquery.datetimepicker.full.min.js"></script>
    <script type="text/javascript" src="~/lib/moment/moment.min.js"></script>
    <script type="text/javascript" src="~/lib/bootbox/bootbox.min.js"></script>
    @*<script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-tags/bootstrap-tagsinput.min.js"></script>*@

    <script type="text/javascript" src="~/app/controllers/product/index.js"></script>
    <script>
        var product = new productController();
        product.initialize();
    </script>
    @await Html.PartialAsync("_Summernote", new { height = 200, selector = "#txtDescription" })
    @await Html.PartialAsync("_Summernote", new { height = 200, selector = "#txtContent" })
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Danh mục sản phẩm</h1>
                <input type="hidden" id="hidCategoryType" value="@Model.Id" />
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Admin</a></li>
                    <li class="breadcrumb-item active">Danh mục</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <form id="myform" data-form-validate="true" method="post" name="myform" action="">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <a class="btn btn-primary btn-sm" href="#" id="addProduct">
                        <i class="fas fa-plus-circle"></i>
                        Thêm mới
                    </a>
                    <button type="submit" class="btn btn-info btn-sm">
                        <i class="fa fa-recycle"></i>
                        Cập nhật
                    </button>
                    <a class="btn btn-danger btn-sm" href="#" id="btnDeleteAll">
                        <i class="fas fa-trash"></i>
                        Delete
                    </a>
                </div>
                <div class="card-tools col-md-7">
                    <div class="row">
                        <div class="col-10">
                            <div class="input-group">
                                <select class="form-control form-control-sm col-md-4" name="slCategory" id="slCategory">
                                </select>
                                <input type="text" id="txtSearch" class="form-control form-control-sm" placeholder="Search...">
                                <div class="input-group-append">
                                    <button class="btn btn-sidebar" id="btnSearch">
                                        <i class="fas fa-search fa-fw"></i>Tìm kiếm
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 text-right">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects" id="tblList">
                    <thead>
                        <tr>
                            <th style="width: 1%">
                                <input type="checkbox" name="checkAll" id="checkAll">
                            </th>
                            <th>Tên sản phẩm</th>
                            <th>Ảnh</th>
                            <th>Danh mục</th>
                            <th>Giá</th>
                            <th>Trạng thái</th>
                            <th>Trang chủ</th>
                            <th>Nổi bật</th>
                            <th>Thứ tự</th>
                            <th>Thứ home</th>
                            <th>Ngày tạo</th>
                            <th>Người tạo</th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody id="tpl_content">
                    </tbody>
                </table>
            </div>
            <div class="card-footer clearfix">
                <div class="card-title">
                    <select class="ui dropdown small form-control" name="page" id="slChangPage">
                        <option value="10" selected="selected">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
                <ul class="pagination pagination-sm m-0 float-right" id="pagination">
                </ul>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </form>
</section>
<!-- /.content -->
@await Html.PartialAsync("_AddEditProductModel")

<script type="x-tmpl-mustache" id="mp_template">
        {{#productTag}}
        <tr>
            <td>
                <input type="checkbox" name="checkItem">
            </td>
            <td>{{name}}</td>
            <td>
            {{#image}}
                <img  class="product-image-thumb img-size-64" src="{{image}}">
            {{/image}}
            {{^image}}
                <img  class="product-image-thumb img-size-64" src="/admin/dist/img/no_image_available.jpg">
            {{/image}}
            </td>
            <td>{{category.name}}</td>
            <td>{{#formatCurrency }}{{price}}{{/formatCurrency }}</td>
            <td>
                {{#status}}<a href="#" data-id="{{id}}" class="badge bg-success"> <i class="fa fa-unlock" aria-hidden="true"></i> Hiện </a>{{/status}}
                {{^status}}<a href="#" data-id="{{id}}" class="badge bg-danger"><i class="fa fa-lock" aria-hidden="true"></i> Ẩn</a>{{/status}}
            </td>
            <td>
                {{#homeFlag}}<a href="#" data-id="{{id}}" class="badge bg-success"> <i class="fa fa-unlock" aria-hidden="true"></i> Hiện </a>{{/homeFlag}}
                {{^homeFlag}}<a href="#" data-id="{{id}}" class="badge bg-danger"><i class="fa fa-lock" aria-hidden="true"></i> Ẩn</a>{{/homeFlag}}
            </td>
            <td>
                {{#hotFlag}}<a href="#" data-id="{{id}}" class="badge bg-success"> <i class="fa fa-unlock" aria-hidden="true"></i> Hiện </a>{{/hotFlag}}
                {{^hotFlag}}<a href="#" data-id="{{id}}" class="badge bg-danger"><i class="fa fa-lock" aria-hidden="true"></i> Ẩn</a>{{/hotFlag}}
            </td>
            <td>
                <input type="text" id="order{{id}}" class="form-control form-control-sm img-size-64" value="{{order}}" placeholder="số tt" name="order{{id}}" data-rule-required="true" data-rule-digits="true" data-msg-required="không được bỏ trống" data-msg-digits="Chỉ nhập số">
            </td>
            <td>
                <input type="text" id="homeorder{{id}}" class="form-control form-control-sm img-size-64" value="{{homeOrder}}" placeholder="số thứ tự" name="homeorder{{id}}" data-rule-required="true" data-rule-digits="true" data-msg-required="không được bỏ trống" data-msg-digits="Chỉ nhập số">
            </td>
            <td> {{#dateFormat}}{{dateCreated }}{{/dateFormat}}</td>
            <td> {{ createBy.userName }}</td>
            <td class="text-right">
                <a class="btn btn-info btn-sm" href="#" data-id="{{id}}" id="lbtEdit"> <i class="fas fa-pencil-alt"> </i> Edit </a>
                <a class="btn btn-danger btn-sm" href="#" data-id="{{id}}"  id="lbtDelete"> <i class="fas fa-trash"> </i> Delete </a>
            </td>
        </tr>
        {{/productTag}}
</script>